<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lexis-Nexis">
    <test verbose="2" preserve-order="true" name="C:/Lexis-Nexis">
        <classes>
            <class name="runner.Runnerfile"></class>
        </classes>
        
    </test>
</suite>